# generatepdf{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 1200px;
    height: 500px;
  
    
  }
  .date-container {
    display: flex;
    gap: 2px;
    justify-content: right;
    justify-self: right;
  }
  
  .date-input {
    width: 10px;
    text-align: center;
  }
  .form{
    
    justify-content: right;
    justify-self: right;
  }
  .header{
    display: flex;
  }